/* queries for larger screen */

@media (min-width: 768px) {
    #main-nav .nav-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    #main-nav .nav-container ul {
        display: flex;
    }
}