/* queries for larger screen */

@media (min-width: 768px) {
    #main-nav .nav-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    #main-nav .nav-container ul {
        display: flex;
    }
    /* blog container Grid Code Below here */
    #blog .blog-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1rem;
    }
    #blog .blog-container>*:first-child {
        grid-column: 1 / span 2;
    }
    /* last article nested grid */
    #blog .blog-container>*:last-child {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
        grid-column: 1 / span 3;
    }
}


/* On Mobile logo */

@media (max-width: 768px) {
    #main-nav .logo {
        margin-bottom: 1.5rem;
    }
    #main-nav .social {
        margin-bottom: 0.5rem;
    }
    #blog .blog-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1rem;
    }
    /* hide the social icons */
    #main-nav .social {
        display: none;
    }
    /* header content */
    #showcase .showcase-content {
        max-width: 300px;
    }
}