/* import google fonts open sans */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

/* CSS Files Import */

@import "./media-queries.css";
@import "./utilities.css";

/* variables */

:root {
    --primary-color: #0a2a66;
    --secondary-color: #1865f2;
    --max-width: 1100px;
}


/* Reset margin and padding */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* Html & body styling */

html,
body {
    font-family: "Open Sans", sans-serif;
    background: #eee;
    color: #fff;
    line-height: 1.6;
}


/* Navbar styling */

#main-nav {
    background: var(--primary-color);
    padding: 0.7rem;
    position: sticky;
    top: 0;
    z-index: 2;
}

#main-nav .nav-container {
    text-align: center;
}

#main-nav .nav-container ul li a {
    display: inline-block;
    padding: 0.7rem;
    font-weight: bold;
}

#main-nav .nav-container .social a {
    margin: 0 0.3rem;
    display: inline-block;
}

#main-nav .nav-container ul li a:hover {
    background: var(--secondary-color);
    color: #fff;
}

#main-nav ul li a.current {
    background: rgb(238, 238, 238);
    color: var(--primary-color);
}


/* Header Styling */

#showcase {
    background-image: url("../images/blog.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    height: 100vh;
}

#showcase .showcase-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    position: relative;
}


/* showcase overlay */

#showcase::before {
    content: "";
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

#showcase>* {
    z-index: 10;
}

#showcase .showcase-content h1 {
    font-size: 3rem;
    padding: 1rem;
}

#showcase a {
    text-decoration: none;
}


/* Showcase content first paragraph */

#showcase .showcase-content>*:nth-child(2) {
    font-size: 1.6rem;
}


/* Showcase content second paragraph */

#showcase .showcase-content>*:nth-child(3) {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}


/* Blog Section Styling */

#blog h2,
#about h2 {
    margin: 1rem;
    display: inline-block;
    padding: 1rem;
    border-radius: 0.63rem;
    text-transform: uppercase;
}

#blog a {
    color: var(--secondary-color);
}


/* About Styling */

#about aside,
#post aside {
    background: var(--secondary-color);
    color: #fff;
}

#about .about-container p {
    margin: 1rem;
}


/* About & Post Page Styling */

#about aside input[type="email"],
#post aside input[type="email"] {
    width: 90%;
    padding: 0.5rem;
    margin: 0.5rem 0;
}

#about aside input[type="submit"],
#post aside input[type="submit"] {
    width: 90%;
}


/* Post Page Styling */

#post h3 {
    margin: 0.5rem;
    display: inline-block;
    padding: 0.5rem;
    border-radius: 0.63rem;
    text-transform: uppercase;
}


/* Targeting lists */

.list {
    padding: 1rem;
}

.list li {
    padding: 0.5rem 0;
    border-bottom: #fff dotted 1px;
    width: 90%;
}

.list li a {
    color: #fff;
    text-decoration: none;
}

.list li a:hover {
    color: #f99500;
}


/* Footer Styling */

#main-footer {
    height: 200px;
}

#main-footer .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


/* Social links & icons Styling */

#main-footer a {
    color: #fff;
    margin-right: 1rem;
}

#main-footer i {
    margin-bottom: 2rem;
}