/* container  */

.container {
    max-width: var(--max-width);
    margin: auto;
    width: 100%;
    height: 100%;
}


/* links & uls styling */

#main-nav a {
    color: #fff;
    text-decoration: none;
}

ul {
    list-style: none;
}


/* padding top and bottom */

.py-1 {
    padding: 1.5rem 0;
}

.py-2 {
    padding: 2rem 0;
}

.py-3 {
    padding: 3rem 0;
}


/* padding all around */

.p1 {
    padding: 1.5rem;
}

.p2 {
    padding: 2rem;
}

.p3 {
    padding: 3rem;
}


/* Backgrounds */

.bg-primary {
    background: var(--primary-color);
    color: #fff;
}

.bg-secondary {
    background: var(--secondary-color);
    color: #fff;
}


/* Buttons */

.btn {
    cursor: pointer;
    transition: 0.1s;
    border-radius: 0.3rem;
}

.btn:hover {
    transition: 0.1s;
    opacity: 0.8;
}

.btn-primary {
    background: var(--primary-color);
    color: #fff;
    display: inline-block;
    padding: 0.5rem 1.5rem;
}

.btn-secondary {
    background: var(--secondary-color);
    color: #fff;
    display: inline-block;
    padding: 0.5rem 1.5rem;
}


/* Card Utilities */

.card {
    background: #fff;
    padding: 1rem;
    color: #333;
}


/* Blog post title utilities */

.blog-post {
    display: inline-block;
    background: var(--secondary-color);
    color: #fff;
    font-size: 0.7rem;
    text-transform: uppercase;
    padding: 0.4rem 0.6rem;
    border-radius: 15px;
    margin-bottom: 0.5rem;
}


/* blog images styling */

#blog .blog-container img {
    width: 500px;
    height: 200px;
    object-fit: cover;
    width: 100%;
}


/* post page image styling */

#post .post-container img {
    width: 100%;
}


/* Blog, post & about page Container Styling utilities*/

#blog .blog-container,
#about .about-container,
#post .post-container {
    margin: 1rem;
}


/* Blog section & about pages paragraphs styling */

#blog .blog-container p,
#about .about-container p,
#post .post-container {
    font-size: 1.1rem;
    font-weight: 500;
}


/* post page Meta */

#post .meta {
    background: var(--secondary-color);
    color: #fff;
    padding: 0.75rem;
    margin: 0.6rem 0;
}